*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(249, 249, 249);
}
.sec-container{
    max-width: 1200px;
    margin:auto;
    padding: 20px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(0, 0, 0);
}
.sec-container h1{
    font-size: 100px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 400;
    line-height: 122px;
    margin-top: 20px;

}
.section-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.category h2{
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    width: 377px;
    margin-block: 15px;
}
.small-p{
    font-style: italic;
    font-size: 12px;
    margin-block: -10px 10px;
}
.cat-wrapper{
    display: flex;
    gap: 35px;
}
.left-content p{
    font-size: 16px;
    line-height: 30px;
}
.right-content .price-tag{
    font-weight: 700;
    line-height: 30px;
    font-size: 16px;
}
.sec-img{
    width: 50%;
}
.footer-info{
    max-width: 1150px;
    margin: auto;
}




/* media queries */
@media screen and (max-width: 768px) {
  .section-content {
    grid-template-columns: 1fr;
  }
  
  .sec-container h1{
    font-size: 60px;
    margin-block: -15px;
  }
  .left-content {
    width: 260px;
  }
  .left-content p{
    font-size: 13px;
    line-height:22px;
  }
  .right-content .price-tag{
    font-size: 13px;
    line-height:25px;
    font-weight: 700;
  }
  .category-image{
    display: none;
  }
}

@media screen and (max-width: 369px){
    .cat-wrapper {
        gap:10px;
     }
    .right-content .price-tag{
        max-width: 90px;
        font-size: 12px;
        line-height: 22px;
    }
}