

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* bety */
body {
  background-color: black;
}

.patient-testimonials{
    margin:50px;
}
.patient-testimonials >p, .appointment > p{
 font-size: 102px;
 font-family: 'Bricolage Grotesque', sans-serif;

}
.cards{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap:15px;
    flex-wrap: nowrap;
}
.card-1{
    border: 2px solid rgb(0, 0, 0);
    padding:20px;
    border-radius: 20px;
    /* width:106px;
    height:106px; */
  
    /* background-color: black; */
}
.name-img{
    display: flex;
    align-items: end;
    justify-content: space-between;
    /* width: 800px; */
}
.name-img p{
    font-size:40px;
    font-family: 'Bricolage Grotesque', sans-serif;

}

.hearts{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:5px;
    margin-top:25px;
    margin-bottom: 30px;
}
.hearts img{
    width:40px;
    height: 34px;;
}
.card-1 > p{
    font-size: 16px;
    font-family: 'Work Sans', sans-serif, Times, serif;
    font-weight: bolder;
}
.testimonials{
    font-size:16px;
    font-family: 'Work Sans', sans-serif, Times, serif;
    line-height: 19px;
    margin-top:20px;

}
.expert-advice{
    background-image: url(../assets/doctor4.jpg);
    /* max-width: 200px;
    width: 100%; */
    height: 100vh;
    margin:50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding:60px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.expert-advice > p {
    color:rgb(0, 0, 0);
    font-size:16px;
    line-height: 26px;
    font-family: 'Work Sans', sans-serif, Times, serif;
    /* word-break:break-all */
    /* text-align: left; */
    
    /* padding-inline: 200px; */

}
.blog-arrow{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
}
.blog-title{
  font-size: 102px;
  color:rgb(44, 43, 43);
  margin:0;

}
.arrow-link {
  display: block; 
  width: 100%;
  text-decoration: none; 
}
a .arrow-line {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  /* gap: 10px; */
}

a .arrow-line hr {
   flex-grow: 1;
  height: 5px;                
  background-color: white ;     
  border: none;                
  margin: 0;
  filter:none;
  opacity: 1;
}

a .arrow-line i {
  /* color: white;
  font-size: 35px;
  position: absolute;
  */
  color: white;
  font-size: 58px;
  position: relative;  right:50px; top:-1px;
}
.blog-link {
  color: black;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif, Times, serif;
  margin: 0;
  cursor:pointer;
}
.appointment{
    margin: 60px;
}
.form{
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    gap:60px;
}
.inputs{
    width: 100%;
 
}
.name-email{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    width: 100%;
    /* background-color: black; */
}
.fullName,.email{
    width: 100%;
}
/* .name-email input{
     width: 100%;
} */
 .name-email, .phone,.message{
       padding-block: 10px;
 }
 .message textarea{
    height: 8em;
    background-color: rgba(135, 207, 235, 0.281);
    width: 100%;
    border:none;
    border-radius: 25px;
  padding:10px 15px;
}
.inputs label{
    font-size:16px;
    font-family: 'Work Sans', sans-serif, Times, serif;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
   
}
.form .inputs input{
    
    padding:10px 15px;
    width: 100%;
    border-radius:25px;
    background-color: rgba(135, 207, 235, 0.281);
    border:none;
    height: 45px;  

}
.form .inputs input:focus, .form textarea:focus{
    border: none;
    outline:none;
}

.form > p{
    font-size: 40px;
    color:black;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button button{
    border:none;
    background-color: black;
    color:white;
    padding:12px 75px;
    font-size:16px;
    font-family: 'Work Sans', sans-serif, Times, serif;
    border-radius: 4px;
    margin-top:10px;

}
/* .address{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
} */
.address p{
    padding: 0;
    margin: 0;
}